.container {
  display: grid;
  grid-template-columns: auto max-content;
  gap: 1rem;
}

.input {
  background: var(--color-darker-bg);
  border: none;
  height: 2.5rem;
  line-height: 2.5rem;
  color: var(--color-light-gray);
  display: inline-block;
  padding: 0 1rem;
  border-radius: 0.5rem;
}

.input:focus {
  outline: none;
}

.add-btn {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-primary);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 5rem;
}

.add-btn svg {
  color: var(--color-light-gray);
}
