.container {
  display: grid;
  gap: 0.1rem;
}

.filter-list {
  display: flex;
  gap: 1rem;
  align-items: center;
  height: 2.5rem;
}

.filter-item {
  font-weight: 700;
}

.filter-item.active {
  border-bottom: 2px solid var(--color-primary);
}

.todo-list {
}

.todo-item {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: max-content auto max-content;
  align-items: center;
  font-size: 1.5rem;
}

.todo-item.is-done {
  text-decoration: line-through;
}
.todo-item.is-done span {
  opacity: 0.25;
}

.delete-btn {
  display: flex;
  background-color: transparent;
  height: 1.5rem;
  width: 1.5rem;
  padding: 0;
  border: none;
}

.delete-btn svg {
  height: 1.5rem;
  color: var(--color-danger);
  opacity: 0.5;
}
